/* GENERAL */

body {
    background-color: whitesmoke;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    color: #383838;
}

h2 {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;  
}

.container-fluid {
    padding: 0;
}

section {
    width: 100%;
    padding: 100px 60px;
}

.section-intro {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
}

p {
    margin-top: 20px;
}

.max-600 {
    max-width: 600px;
    padding: 60px 0;
}

.btn {
    border-radius: 25px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    padding: 7px 30px 10px 30px;
    margin-top: 20px;
}

/* NAV */

.nav-container {
    padding: 8px 50px;
    background-color: #d0e2feda;
}

.nav-container:hover {
    background-color: #d7cef0da;
}

.nav-link {
    color: #383838;
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.nav-link:hover {
    color: #383838c5;
}

.brand {
    font-size: 30px;
    font-weight: 400;
    color: rgb(9, 88, 88);
}

.brand:hover {
    color: rgba(9, 88, 88, 0.8);
}

.brand-wicker {
    font-weight: 500;
}

/* HOME-HERO */

.hero{
    background-image: url("../images/abstract-gradient-11.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 60px;
}

.hero-hello {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 1;
}

.hero-heading{
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 120px;
    margin-top: 20px;
    margin-left: -10px;
    line-height: 1;
}

.faded {
    opacity: 50%;
}

.hero-intro {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    float: right;
    margin-top: -20px;
}

/* HOME-INTRO SECTION 1 */

.placeholder {
    background-color: darksalmon;
}

/* HOME-SKILLS SECTION 2 */

.bg-lilac {
    background-color: #EAEFFD;
    padding: 150px 60px;
}

.card {
    margin: auto;
    border-style: none;
    text-align: center;
    background-color: #EAEFFD;;
}

.card-title {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2; 
}

.card-body {
    padding-top: 30px;
}

/* HOME-BIO SECTION 3 */

.max-600-right {
    max-width: 600px;
    padding: 60px 0;
    margin-left: 60px;
}