/* GENERAL */

body {
    background-color: whitesmoke;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    color: #383838;
}

h1 {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 1.3; 
}

h2 {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;  
}

h3 {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;    
}

.container-fluid {
    padding: 0;
}

section {
    background-color: whitesmoke;
    width: 100%;
    padding: 40px 0px;
    z-index: 50;
}

.section-intro {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
}

.bottom-section {
    margin-bottom: 400px;
}

p {
    margin-top: 20px;
}

a {
    color: rgb(167, 131, 167);
}

a:hover {
    text-decoration: none;
    color: thistle;
}

.max-600 {
    max-width: 600px;
    padding: 60px 20px;
}

.btn {
    border-radius: 25px;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    padding: 7px 30px 10px 30px;
    margin-top: 20px;
}
.btn-dark {
    border: none;
}

.btn-dark:hover {
    background-color: #383838c5;
}

/* NAV */

.nav-container {
    padding: 8px 50px;
    background-color: #d0e2feda;
    z-index: 99;
}

.nav-container:hover {
    background-color: #d7cef0da;
}

.nav-link {
    color: #383838;
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.nav-link:hover {
    color: #383838c5;
}

.brand {
    font-size: 30px;
    font-weight: 400;
    color: rgb(9, 88, 88);
}

.brand:hover {
    color: rgba(9, 88, 88, 0.8);
}

.brand-wicker {
    font-weight: 500;
}

.content-wrap {
    padding: 20px;
}

/* HOME-HERO */

.hero{
    background-image: url("../images/abstract-gradient-11.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 60px;
}

.hero-hello {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 1;
}

.hero-heading{
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 120px;
    margin-top: 20px;
    margin-left: -10px;
    line-height: 1;
}

.faded {
    opacity: 50%;
}

.hero-intro {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    float: right;
    margin-top: -20px;
}

/* HOME-INTRO SECTION 1 */

.placeholder {
    background-color: darksalmon;
    min-height: 300px;
}

/* HOME-SKILLS SECTION 2 */

.bg-lilac {
    background-color: #EAEFFD;
    padding: 150px 60px;
}

.card {
    margin: auto;
    padding: 20px;
    border-style: none;
    text-align: center;
    background-color: #EAEFFD;;
}

.card-title {
    font-family: new-spirit, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2; 
}

.card-body {
    padding-top: 30px;
}

/* HOME-BIO SECTION 3 */



/* CONTACT PAGE */
.contact-section {
    min-height: 100vh;
    padding-top: 170px;
    margin-bottom: 400px;
}

.contact-social {
    padding: 10px 20px 0 0;
    color: #383838;
}

.contact-social:hover {
    color: #383838c5;
    text-decoration: none;
}

/* PORTFOLIO PAGE */

.top-section {
    padding-top: 170px;
}

.portfolio-header {
    margin: auto;
    margin-bottom: 100px;
    max-width: 800px;
}

/*** PROJECT CARDS! ***/

.project-card {
    width: 100%;
    height: 450px;
    padding: 40px;
    background-color: teal;
    position: relative;
}

.project-overlay {
    color: whitesmoke;
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.project-overlay:hover {
    opacity: 1;
}

.btn-white {
    display: inline;
    background-color: none;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    color: whitesmoke;
}

.project-scope {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em; 
}

.btn-white:hover {
    color: rgba(245, 245, 245, 0.7);
    border-color: rgba(245, 245, 245, 0.7);
    background-color: rgba(245, 245, 245, 0.1);
}

#full-function-fitness {
    background-image: url("../images/full-function-fitness.jpg");
    background-size: cover;
    background-position: center;
}

#coworking-hub {
    background-image: url("../images/coworking-1.jpg");
    background-size: cover;
    background-position: center;
}

#bunda {
    background-image: url("../images/BUNDA-ring\ trio.jpg");
    background-size: cover;
    background-position: center;
}

#evaluna {
    background-image: url("../images/evaluna-flower-crown.jpg");
    background-size: cover;
    background-position: center;
}

/* FOOTER */

footer {
    width: 100%;
    background-image: url("../images/abstract-gradient-11.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
}

.fixed-bottom {
    z-index: -1;
}

.brand-footer {
    font-size: 36px;
    font-weight: 400;
    color: #383838;
}

.brand-footer:hover {
    color: #383838c5;
}

.social-icon {
    text-decoration: none;
    color: #383838;
    padding: 15px;
}

.social-icon:hover {
    text-decoration: none;
    color: #383838c5;
}

/* Media queries */

/* Medium devices (tablets, less than 992px) */

@media (min-width: 768px) { 

    /*responsive nav
    nav {
        position: fixed;
        bottom: 0;
    }
*/
    section {
        padding: 100px 60px;
    }

    .max-600-right {
        margin-left: 60px;
    }


 }